@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.stat-box {
    @apply w-[78px] h-[52px] font-semibold text-xs rounded-xl bg-stat px-4 py-3 flex flex-col items-center justify-center;
}
.stat-box-lg {
    @apply w-[100px] h-[67px] py-3 px-5;
}

.footer-link {
    @apply font-bold transition duration-300 ease-linear hover:text-red-500 active:text-red-500 focus:text-red-500;
}

.img {
    @apply rounded-xl cursor-pointer;
}

@layer utilities {
    .card-shadow {
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
        transition: filter 0.3s ease-in-out;
    }

    .card-shadow:hover,
    .card-shadow:active,
    .card-shadow:focus,
    .card-shadow:focus-within {
        filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.25));
    }
}
